footer {
    background-color: rgba(0, 0, 11, 0.673);
    background-image: url(footer-backc.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 60vh;
    padding: 0px 20px;
    color: white; 
    z-index: 1;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.785); 
    z-index: -1;
}
.footer-elements{
     padding: 80px 100px;
    display: flex;
}
.footer-logo{
    color: white;
    margin-top: 20px;

}
.address{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: -1px;
    line-height: 25px;
}

.footer-nav{
    color: white;
    text-align: left;
    margin-left: 100px;

}
.footer-nav h2{
    margin-left: -5px;
    font-size: 30px;
    font-family: sans-serif;

}
.footer-nav ul{
    list-style: none;

}

.footer-nav ul li{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 10px;
    transition: all .3s ease;
    
}


.footer-list{
    color: white;
    text-align: left;
    margin-left: 100px;

}
.footer-list h2{
    cursor: pointer;
    position: relative;
    margin-left: -5px;
    font-size: 30px;
    font-family: sans-serif;
    cursor: pointer;

}
.footer-list ul{
    list-style: none;

}

.footer-list ul li{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 10px;
    transition: all .3s ease;
    
}

.footer-elements ul li:hover {
    color: black;
    cursor: pointer;
    



}


.footer-elements h2{
    cursor: pointer;
}
.copyright{
    color: white;
    text-align: center;
    font-family: sans-serif;
    color: orange;
}

form{
    box-shadow: 2px 3px 4px rgba(255, 255, 255, 0.358);
    border-radius: 5px;

    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
    height: 500px;
    max-height: fit-content;
    background-color: rgba(128, 128, 128, 0.697);
    backdrop-filter: blur(10px);
    transition: all .3s ease;
    




}
form h1{
    color: orange;
    font-family: "Poppins",sans-serif;
    margin-bottom: -10px;
    transition: all .3s ease;
}

form h1:hover{
    transform: translateX(5px);
    filter: drop-shadow(2px 3px 3px rgba(255, 255, 255, 0.365));

}


form:hover{
     box-shadow: 2px 3px 4px rgba(255, 255, 255, 0.639);
     background-color: rgba(128, 128, 128, 0.246);
    backdrop-filter: blur(5px);
    border-radius: 0px;
    cursor: pointer;
    
}

form input{
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    color: grey;

    outline: none;
}

form button{
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    border-radius: 10px;

}