*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    
    
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    height: 50px;
    

    z-index: 100;
    box-sizing: border-box;
    justify-content: center;
}

.logo{
    margin: 0px 100px ;
    font-size: 40px;
    font-weight: 600;
    font-family: "Ubuntu",sans-serif;
}


.logo span{
    color: orange;
    font-family: "CossetteTitre";

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px 10px;
    transition: 0.5s;
}

nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px 10px;
    
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
    
}

nav ul:hover li a {
    transform: scale(1.02);
    opacity: 0.2;
    filter: blur(0px);
}

nav ul li a:hover {
    transform: scale(1.4);
    opacity: 1;
    filter: blur(0);
    color: #fff;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: orange;
   
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

.nav-search{
    background-color: black;
    font-weight: 550;
    color: white;
    padding: 8px 20px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.584);

    margin-left: -100px;
    border-radius: 20px;
    font-size: 15px;
    transition: all .3s ease;


}

.nav-search:active{
    scale: .8;
}

.nav-search:hover{
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.724);


}

nav ul li a:hover:before {
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    transition: transform 0.5s;
    text-transform: lowercase;
    transform-origin: left;
    transform: scaleX(1);
   
}

.search input{
    border: 2px solid  rgba(195, 193, 193, 0.396);
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
    margin:10px 100px;
    width: 250px;
    filter: drop-shadow(2px 5px 6px rgba(146, 146, 145, 0.365));
    


}


.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 0 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(255, 166, 0, 0.804);
        position: absolute;
        top: 50px;
        color: white; 
        left: 0;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
        color: white;
        
    }

    nav ul li a{
        font-weight: 550;
        color: white;
        font-size: 20px;
        transition: all .3s ease;
        cursor: pointer;

    }

    nav ul li a:hover{
        color: black;

    }

    .search {
        display: none; 
    }

    .hamburger {
        display: block;
        filter: drop-shadow(2px 10px 4px #b37400da);
    }

    
}

